.container-foods-drinks {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-foods-drinks-header-card-footer {
  align-items: center;
  background-color: #fafafa;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 360px;
}

@media screen and ( max-width : 768px ) {

  .container-foods-drinks-header-card-footer {
    width: 100%;
  }


}
