.container-recomendation {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  height: 30vh;
  overflow-x: scroll;
  padding: 20px;
  width: 80%;
}

.card-recomendation {
  flex-shrink: 0;
  margin: 5px;
  width: 55%;
}
