@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Permanent+Marker&family=Shizuru&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-attachment: fixed;
  background-image: url('/home/flavio/Trybe-projects/sd-019-c-project-recipes-app/src/images/Logo/celular2.png');
  background-position: 54.2% 0;
  background-repeat: no-repeat;
  background-size: 770px;
  left: 50%;

  /* background: red; */
}

/* #404040 */

/* rgb(95, 194, 140) */

/* rgb(49, 108, 82) */





/* ! Share */
.share-btn {
  background: none;
  border: none;
  cursor: pointer;
}

[ data-testid = 'favorite-btn' ] {
  background: none;
  border: none;
  cursor: pointer;
}

.container-share {
  height: 40px;
}

.container-share p {
  font-size: 10px;
  text-align: center;
}

/* ! Share */

/* ? Favorite Recipes */
.container-filter-done-favorite button {
  background: rgb(196, 190, 190);
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(194, 189, 189);
  color: rgb(77, 75, 75);
  cursor: pointer;
  font-family: Georgia , Times , serif;
  font-size: 16px;
  font-weight: 700;
  height: 26px;
  margin: 5px 15px;
  width: 90px;
}

.container-filter-done-favorite {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.container-favorite-recipes {
  margin: 15px;
  padding-top: 70px;
}

.container-favorite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.favorite-card {
  align-items: center;
  border: rgb(47, 193, 140) solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(47, 193, 140);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 8px;
  padding: 5px;
  width: 90%;
}


.favorite-card-img {
  border: rgb(156, 155, 155) solid 1px;
  border-radius: 8%;
  box-shadow: 0 0 10px rgb(156, 155, 155);
  height: 60px;
  width: 60px;
}

.favorite-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.favorite-card-info p {
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
}

.favorite-card-info h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
}

.container-share-favorite {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-share-favorite button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ? Favorite Recipes */

/* ! Done recipes */
.container-done-recipes {
  margin: 15px;
  padding-top: 200px;
}

/* ! Done recipes */

/* ? profile */
.container-profile {
  margin: 15px;
  padding-top: 100px;
}

/* ? Profile */

/* ! Explore */
.container-explore {
  margin: 15px;
  padding-top: 100px;
}

/* ! Explore */

/* ! ExploreIngredientsCard */
.container-explore-ingredients-card {
  align-items: center;
  background-color: rgb(165, 163, 163);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 60px 10px;
}

.card-explore-by-ingredient {
  align-items: center;
  background-color: whitesmoke;
  border: rgb(156, 155, 155) solid 1px;
  border-radius: 8%;
  box-shadow: 0 0 10px rgb(156, 155, 155);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 3px;
  width: 45%;
}

.card-explore-by-ingredient p {
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
}

/* ! ExploreIngredientsCard */

/* ? ExploreFoodsNationalities */
.container-explore-nationality {
  margin: 15px;
  padding-bottom: 150px;
  padding-top: 150px;
}

.select-explore-nationalities {
  margin-left: 30px;
}

[ data-testid = 'explore-by-nationality-dropdown' ] {
  margin-left: 10px;
  padding-left: 10px;
}

/* ? ExploreFoodsNationalities */


@media screen and ( max-width : 340px ) {

  .container-foods-drinks-header-card-footer {
    width: 100%;
  }


}

@media screen and ( max-height : 640px ) {

  .container-foods-drinks-header-card-footer {
    width: 100%;
  }


}

